<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <title>Acronym Expansion</title>
  <style>
    #main{
      top: 20%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  </style>
</head>
<body>
      <div class="ui one column stackable center aligned page grid" id="main">
          <div class="column sixteen wide">
              <h2 class="ui icon header">
                  <i class="blue twitter icon"></i>
                  <div class="content">
                    Acronym Expansion in English Tweets
                    <div class="sub header">
                      Given a context, it disambiguates the expansions of an acronym.
                    </div>
                  </div>
                </h2>
                <br/>
              <form method="POST">
              {% csrf_token %}
              <div class="ui left icon input">
                  <input name="search_string" type="text" placeholder="{{ search_string }}">
                  <i class="asterisk loading icon"></i>
              </div>  
            </form>
            {% if search_string %}
              {% if prediction %}
              <br>
              <div class="ui large basic blue inverted label">
                  <i class="tag icon"></i>
                  {{ acronym }}
              </div>
                <div class="ui large basic green inverted label">
                  <i class="check icon"></i>
                  {{ prediction }}
                </div>
              {% endif %}
            {% endif %}
          </div>
       </div>
    </div>
</body>
</html>